<div class="trix-content">
  <%= yield %>
</div>

<%# <script>
  document.addEventListener('DOMContentLoaded', (event) => {
  const trixEditorElement = document.querySelector('.rich_text_area');
  console.log("addEventListener 실행")
  if (trixEditorElement) {
    trixEditorElement.style.overflow = 'auto';
  }
});
</script> %>
