<h1><%= response.status %><%= action_name.humanize%></h1>
<%= image_tag "#{ response.status }", class: "responsive-image"%>
<p>뭔가가 잘못 됐어요.</p>
<%= link_to '홈 으로이동', root_path ,class: "btn btn-primary" %>
