<h1><%= response.status %><%= action_name.humanize%></h1>
<%= image_tag "#{ response.status }" , class: "responsive-image"%>
<p>존재하지 않는 페이지입니다.</p>
<%= link_to '홈 으로이동', root_path ,class: "btn btn-primary" %>
