<div class= "d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1>이미 삭제된 게시물입니다.</h1>
    <%= image_tag "sad.jpg" , class: "responsive-image mb-3"%>
    <%= link_to '홈 으로이동', root_path ,class: "btn btn-primary" %>
</div>
