.mainbody { 
  background-color: Antiquewhite; 
  word-break: break-all;
  padding-bottom: 120px;
}
.custom-a { text-decoration: none;}
.no-underline { text-decoration: none;}
.navbar-brand { position: relative; left: 10px;}
#posts b {
  display: inline-block; /* 또는 display: inline; */
  margin-right: 10px; /* 버튼 사이에 약간의 공간을 추가합니다. */
}
#user_dropdown {  right: 0; }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* bg-light 클래스의 배경색 */
    text-align: center;
    /* z-index: -1; */
  }

.rich_text_area{
  background-color: white;
  height: 40vh;
  max-width: 90%;
  overflow: auto;
}


.trix-editor img {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
}

.responsive-image{
  width: 20%; /* 컨테이너 너비의 50%로 설정 */
  height: auto; /* 비율 유지를 위해 높이를 auto로 설정 */
}

/* tetris css */

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

body{
  height: 100%;
  overflow: hidden;
}
.game-text{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}
.game-text > button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: salmon;
  border: none;
  cursor: pointer;
}
.score {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
}
.playground > ul { 
  /* playground tag의 자식요소인 ul tag에 적용 */
  border: 1px solid #333;
  width: 250px;
  margin: 0 auto;
}
.playground > ul> li {
  width: 100%;
  height: 25px;
}
.playground > ul> li >ul {
  display: flex;
}

.playground > ul> li >ul >li {
  /* 각각의 셀한칸이 되는 요소 */
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}
.tree { 
  background: #67c23a;
}
.bar {
  background: salmon;
}
.zee {
  background: #e6a23c;
}
.elLeft {
  background: #8e44ad;
}
.elRight{
  background: #16a085;
}
.square {
  background: brown;
}

