.mainbody { 
  background-color: Antiquewhite; 
  word-break: break-all;
  padding-bottom: 120px;
}
.custom-a { text-decoration: none;}
.no-underline { text-decoration: none;}
.navbar-brand { position: relative; left: 10px;}
#posts b {
  display: inline-block; /* 또는 display: inline; */
  margin-right: 10px; /* 버튼 사이에 약간의 공간을 추가합니다. */
}
#user_dropdown {  right: 0; }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* bg-light 클래스의 배경색 */
    text-align: center;
    /* z-index: -1; */
  }

.rich_text_area{
  background-color: white;
  height: 40vh;
}

.rich_text_area img {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
}
